# virtual environment #
/env

# large models #
chapter-2/models/svr-grid-search.pkl
chapter-2/models/svr-random-search.pkl
chapter-3/exercises/models/mnist-k-neighbours-classifier.pkl

# hidden ipython files #
.ipynb_checkpoints
/.virtual_documents

# describes how to visualise folders in finder #
.DS_Store
