# virtual environment #
/env

# large models #
chapter-2/models/
chapter-3/models/
chapter-5/models/
chapter-8/datasets/

# hidden ipython files #
.ipynb_checkpoints
/.virtual_documents

# describes how to visualise folders in finder #
.DS_Store
