# pydata
pandas
matplotlib
scipy
sklearn

# notebooks
# jupyter
# jupyter_contrib_nbextensions # extensions
jupyterlab
jupyterlab-lsp
jupyterlab-code-formatter

# linting
flake8

# code formatting
black
isort

# to save arbitrary Python objects
joblib
