# pydata
pandas
matplotlib
scipy
sklearn
xgboost
yellowbrick

# notebooks
jupyterlab
jupyterlab-lsp
python-lsp-server[all]
jupyterlab-code-formatter

# code formatting
black
isort

# to save arbitrary Python objects
joblib

# to visualise trees
graphviz
